---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p><b>Hi, I'm Jung. </b>This is my personal page where I write about things I care about every sometimes.</p>
			
			<p>I'm an engineer at <a href="https://www.sc.com/en/about/innovation/sc-ventures/">SC Ventures</a>, where I mainly work on the tech teams platform operations<sup>1</sup>, while also occasionally wearing other hats<sup>2</sup>, as is normal for a relatively small team like ours. I've always struggled to summarize it in a single well defined job description — maybe reach out to me and I can give a more in depth explanation.</p>
			
			<p>These days, I'm mostly working with AWS, Terraform, Python; but tools like Claude Code are helping me expand into other technologies.</p>
			
			<p>In a past life, I was a semi-professional inline speed skater, though I've recently retired in a relatively common fashion — slowly, then all at once — due to the pressures of my career, and then an international move from HK to SG.</p>
			
			<p>Now my free time is mostly spent on climbing<sup>3</sup>, something I've gradually learned how to pursue with a casual seriousness.</p>
			
			<hr>
			
			<p><sup>1</sup> Also similar to SRE, DevSecOps</p>
			<p><sup>2</sup> Operations, project management, security</p>
			<p><sup>3</sup> Just not trad!</p>
		</main>
		<Footer />
	</body>
</html>
